* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5ece9;
    font-family: "Poppins", sans-serif;
}
a {
    color: #141413;
    text-decoration: none;
    transition: 0.3s ease;
}
/* Header */
#header {
    width: 100%;
}
.header-container {
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.header-top {
    background-color: #eee;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.header-top button {
    border: none;
    cursor: pointer;
}
.header-top button.fa-angle-down {
    display: none;
    color: #00AA4F;
    font-size: 28px;
    transition: 0.3s ease;
}
.header-top button.fa-angle-down:hover {
    color: black;
}
.header-top button.fa-search {
    background-color: #00AA4F;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 60px;
}
.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}
.title-area {
    text-align: center;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}
.title {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.3em;
    
}
.desc {
    color: #404040;
}
.mobile-nav {
    cursor: pointer;
    background-color: #00AA4F;
    border: none;
    padding: 10px 12px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    display: none;
    margin: 20px;
}
.mobile-nav:hover {
    background-color: #141413;
}
.header-bottom {
    width: 100%;
    border: 1px solid #80808021;
    border-bottom: 3px solid #00AA4F ;
}
.nav-container {
    display: block;
    width: 100%;
}
.nav-area {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-item{
    padding: 0 12px;
}
.nav-item button {
    display: none;
}
.nav-item:hover a {
    color: #00AA4F;
}
/* content */
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px 0;
    max-width: 1150px;
    margin: auto;
}
.posts-container {
    width: 65%;
}
.posts-area {
    width: 100%;
}
.post-item {
    display: flex;
    background-color: white;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
}
/* .post-item:last-of-type {
    margin-bottom: 0;
} */
.post-content {
    padding-left: 30px;
    width: 100%;
}
.post-label {
    border-bottom: 3px solid #00AA4F ;
    margin-bottom: 5px;
    display: inline-block;
}
.post-label:hover a {
    color: #00AA4F;
}
.post-title {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
.post-title:hover a {
    color: #00AA4F;
}
.post-links {
    margin-bottom: 15px;
}
.post-desc {
    margin-bottom: 25px;
    font-size: 15px;
}
.squared {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 2px;
    margin-right: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 28px;
    background-color: #00AA4F;
    color: white;
}
.squared:hover {
    opacity: 0.7;
}
.bg-facebook {
    background-color: #0866ff;
}
.bg-twitter {
    background-color: #1d9bf0;
}
.bg-linkedin {
    background-color: #007bb5;
}
.bg-pinterest {
    background-color: #bd081c;
}
.bg-plus {
    background-color: #0166ff;
}
.fa-arrow-right {
    margin-left: -11px;
    transition: 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.post-btn {
    background-color: #00AA4F;
    color: white;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-family: inherit;
    transition: 0.3s ease;
}
.post-btn:hover {
    background-color: black;
}
.post-btn:hover .fa-arrow-right {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
}
figure {
    width: 100%;
}
.post-img {
    width: 100%;
}
.widget-container {
    width: 31%;
}
.widget-item {
    width: 100%;
    padding: 30px;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 30px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.14);
}

.widget-ad a img {
    width: 100%;
}
.widget-item .form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-item .form label {
    width: 70%;
}
.widget-item .form label input {
    width: 100%;
}
.widget-item .form input {
    font-family: inherit;
    padding: 10px;
    border: 1px solid #80808021;
    caret-color: #00AA4F;  
    outline: none;
}
.widget-item .form input:focus {
    background-color: #eee;
}
.widget-item .form input.search-submit {
    border: none;
    background-color: #00AA4F;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px; 
    transition: 0.3s ease; 
}
.widget-item .form input.search-submit:hover {
    background-color: black;
}
.widget-item .title {
    font-size: 20px;
    text-transform: capitalize;
    color: #404040;
    margin-bottom: 10px;
}
.widget-item .title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #00AA4F;
}
.widget-item .posts-list {
    list-style: none;   
    font-size: 14px;
    
}
.widget-item .posts-list .list-item::before {
    content: "\f101";
    font-family: "Font Awesome 6 Free"; 
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 35px;
    padding-right: 10px;
    font-size: 12px;
}
.widget-item .posts-list .list-item:hover a {
    color: #00AA4F;
}
.widget-item .posts-list .list-item  a{
    color: #141413;
}
/* Footer */
.footer-container {
    background-color: #2e2e35;
}
.footer-area {
    text-align: center;
    color: white;
    padding: 40px 0 ;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.footer-line-top {
    display: block;
}
.footer-line-bottom.left {
    display: inline-block;
    cursor: pointer;
    transition: 0.4s; 
}
.footer-line-bottom a {
    color: white;
}
.footer-line-bottom.left:hover a {
    color: gray;
}
.footer-line-bottom.left::after {
    content: '|';
    padding: 0 20px;
}
.footer-line-bottom.right span {
    cursor: pointer;
}
.footer-line-bottom.right span:hover a {
    color: gray;
}
/* Social fixed */
.social-fixed.vertical {
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 20;
}
.social-fixed a img {
    width: 70%;
}
.social-fixed.vertical .hide {
    width: 20px;
    cursor: pointer;
}
.social-fixed.horizontal {
    display: none;
}
/* Back-to-top */
.back-to-top button {
    position: fixed;
    bottom: 10%;
    right: 20px;
    border: none;
    background-color: #00AA4F;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 990px) {
    #header {
        position: fixed;
        top: 0;
        z-index: 2;
    }
    
    .mobile-nav {
        display: block;   
        cursor: pointer; 
    }
    #content {
        margin-top: 200px;
    }
    .title-area {
        width: 70%;
        text-align: left;
    }
    .desc {
        font-size: 14px;
    }
    .header-bottom {
        /* display: none; */
        position: fixed;
        top: 10px;
        left: 0;
        z-index: 100;
        border: none;
        width: 80%;
        transform: translateX(-100%);
        transition: 0.3s ease;
    }
    .header-bottom.show {
        transform: translateX(0);
    }
    .nav-container {
        width: 100%;
        background-color: #fff;
    }
    .nav-area {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .nav-item {
        line-height: 45px;
        border-bottom: 1px solid #80808042;
        width: 100%;
        box-sizing: border-box;
    }
    .nav-item.item-btn {
        background-color: #00AA4F;
        margin: auto;
        transition: 0.3s;
    }
    .nav-item.item-btn button {
        display: block;
        width: 100%;
        margin: auto;
        font-size: 18px;
        padding: 10px 0;
        color: #fff;
        background-color: transparent;
        border: none;
        text-align: center;
        cursor: pointer;
        
    }
    .nav-item.item-btn:hover {
        background-color: #141413;
    }
    .header-top {
        justify-content: right;
    }
    .content-container {
        display: block;
    }
    .widget-container {
        /* position: relative; */
        width: 95%;
        margin: auto;
    }
    .posts-container {
        width: 95%;
        margin: auto;
    }
    .social-fixed.vertical {
        top: 20%;
    }
    .widget-ad a img {
        width: 60%;
    }
    
}
@media screen and (max-width: 540px) {
    .header-middle {
        padding: 0 20px 0 10px;
    }
    .widget-container {
        width: 100%;
    }
    .posts-container {
        width: 100%;
        margin: auto;
    }
    .post-item {
        display: block;
        padding: 20px;
    }
    .post-content {
        padding-left: 0;
    }
    .social-fixed.vertical {
        display: none;
    }
    .social-fixed.horizontal {
        position: fixed;
        bottom: -9px;
        width: 100%;
        z-index: 1000;
        display: block;
    }
    .social-fixed.horizontal img {
        width: 100%;
    }
    .header-top {
        justify-content: center;
    }
    .header-top button.fa-angle-down {
        display: block;
    }
    .header-top button.fa-search {
        display: none;
    }
    .widget-ad a img {
        width: 100%;
    }
    #footer {
        margin-bottom: 34px;
    }
}
